// Top Text block
#text-616612980 {
  color: white;
  position: relative;
  bottom: 80px;
  margin-left: 40px;
  display: flex;
  gap: 10px;

  p {
    align-self: end;
  }
}

.mac-colctrl-lt6a {
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    padding-top: 24px;
}

.mac-colctrl-lt6a-c0 {
  border-bottom: 4px solid #808080;
}

#imgplaceholder1517963004 {
  display: flex;
  justify-content: center;
}

#text1517963005 {
  p {
    padding: 20px 0;

    a {
      color: #434343;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}