// Colors
$primaryHeroTextColor: #ffffff;
$navLinkColor: #434343;
$navLinkHoverUnderline: #767676;
$navBgColor: #f7f7f7;
$black: #000000;

// Typography
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

// Container
$container-max: 1680px;
