@use 'variables' as *;
@use 'mixins' as *;

// Reset & Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-sans;
  background-color: $cream;
  color: $charcoal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $dusty-rose;
  }
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

// Utility classes
.container {
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $spacing-xl;

  @include sm {
    padding: 0 $spacing-md;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
