@use 'variables' as *;
@use 'nav-grid';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.example-img {
  width: 100%;
}

.seo-common-header-hero {
  position: relative;
  .seo-common-header-hero-title {
    position: absolute;
    bottom: 20px;
  }
}